body{
    background-image: url("8.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 1370px 1500px;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    color: black;

}
h2{text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
    color: black;
    display: flex;

}