body{
    background-image: url("hard.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 1370px 660spx;
}
h2{
    text-align: center;
font-family: 'Times New Roman', Times, serif;
font-size: xx-large;
font-weight: 900;
color:blanchedalmond;
}
h3{ text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 850;
    color: blanchedalmond;

}